<div>
  <img [src]="movie?.poster" [alt]="movie?.title">
</div>
  <h1>{{movie?.title}}</h1>
  <p>{{movie?.overview}}</p>
  <ul>
    <li>Budget de {{movie?.budget | currency: 'USD'}}</li>
    <li>{{movie?.vote_average}} / 10</li>
    <li>{{movie?.vote_count}} votes</li>
    <li>Sortie le {{movie?.release_date | date: 'dd/MM/yyyy'}}</li>
  </ul>
  <imbd-movie-credits [credits]="movieCredit"></imbd-movie-credits>

<style>
  div {
    width: 100%;
    text-align: center;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li { 
    margin-bottom: 10px;
    font-weight: 700;
  }
</style>

